{:site-title       "Practice of Programming (daily)"
 :author           "Aliaksandr Kazlou"
 :description      "Programming as a craft (on a daily basis)"
 :site-url         "http://akazlou.com/"
 :post-root        "posts"
 :tag-root         "tags"
 :page-root        "pages"
 :blog-prefix      nil
 :rss-name         "feed.xml"
 :rss-filters      ["cryogen"]
 :recent-posts     5
 :post-date-format "yyyy-MM-dd"
 :sass-src         nil
 :sass-dest        nil
 :theme            "darkly"
 :resources        ["img", "fonts"]
 :keep-files       [".git", "google83712e9ddd7b9397.html"]
 :disqus?          true
 :disqus-shortname "akazlou"
 :ignored-files    [#"\.#.*" #".*\.swp$"]}
