footer {
    font-size: 14px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 30px;
}

blockquote {
    font-size: 15px;
    font-style: italic;
}

.right {
    float: right;
    text-align: right;
}

#prev-next {
    padding: 15px 0;
}

#post-tags {
    margin-top: 30px;
}

.social-icon {
    color: #111111 !important;
}
